<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wyt.admin.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="org.wyt.admin.domain.Emp">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="empDegreeName" column="emp_degree_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,emp_name,sex,
        age,dept_name,emp_degree_name
    </sql>
</mapper>
